@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,900);
@import url('https://fonts.googleapis.com/css?family=Merriweather:900,900i');
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
body {
     margin: 0;
     font-family: 'Open Sans', sans-serif;
}
.container {
     margin: 0 auto;
     max-width: 1200px;
}
.container .text {
	position: relative;
     margin-bottom: 20px;
}
.logo img {
	vertical-align: top;
	width: 60px;
	height: 60px;
}
.logo {
	position: absolute;
	left: 11%;
}
.logo p {
	display: inline-block;
	color: white;
	font-family: 'Merriweather', serif;
	font-style: italic;
	margin-left: 5px;
	font-size: 40px;
	line-height: 54px;
}
.jumbotron {
     background:url(https://static.pexels.com/photos/368893/pexels-photo-368893.jpeg) 50% 0 repeat fixed;
     background-size: cover;
     min-height: 100vh;
}
.jumbotron::before {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     height: 100vh;
     z-index: -1;
}
.jumbotron .container {
     color: #FFF;
}
.mobile {
	position: absolute;
	top: 15%;
	right: 9%;
}
.mobile img {
	height: auto;
	width: 90%;
}
.p-footer {
     margin: 30px auto;
}
.promo {
     margin: 0 auto;
     background: url(https://static.pexels.com/photos/415949/pexels-photo-415949.jpeg) center 0 repeat fixed;
     background-size: cover;
     height: 100vh;
	color: white;
}
.pink {
     background: #F9949C;
}
.violet {
     background: #60607B;
}
.photo-1 {
     background: url(https://static.pexels.com/photos/207166/pexels-photo-207166.jpeg);
     background-size: cover;
}
.photo-2 {
     background: url(https://static.pexels.com/photos/417142/pexels-photo-417142.jpeg);
     background-size: cover;
}
.photo-3 {
     background: url(https://static.pexels.com/photos/358385/pexels-photo-358385.jpeg);
     background-size: cover;
}
.dark-pink {
     background: #BC8CBC;
}
.green {
     background: #7EC99D;
}
.arrow {
     margin-left: 15px;
}
.photo-1 .heart {
     margin-left: 90px;
     font-size: x-large;
}
.photo-2 .heart {
     margin-left: 300px;
     font-size: x-large;
}
.photo-3 .heart {
     margin-left: 90px;
     font-size: x-large;
}
.in-slider {
     overflow-x: scroll;
}
.over {
     overflow: hidden;
}
.mid-section {
	color: white;
	background: #82ca9c;
}
.last-section {
	background: #f6f7fa;
}
.footer {
	font-size: 12px;
	color: white;
	padding-top: 130px;
	background: #192431;
}
.footer ul {
	padding-left: 0;
	list-style: none;
}
.footer li {
	margin-bottom: 5px;
}
.footer .text1 {
	margin-bottom: 50px;
}
.button {
	border: none;
	color: white;
	padding: 5px 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 10px;
	margin: 4px 2px;
	cursor: pointer;
}
.button1 {
	border-radius: 4px;
}
.button2 {
	background-color: #bd8cbf;
	border-radius: 4px;
}
.button3 {
	background-color: #82ca9c;
	border-radius: 2px;
	font-size: 12px;
	padding: 16px 39px;
}
.btn {
	position: absolute;
	top: 66px;
	right: 15px;
	border-radius: 0 4px 4px 0;
}
.form-control {
	height: 48px;
}

.box1 {
	padding: 50px;
}
.box2 {
	background-color: white;
	padding: 50px;
	box-shadow: 0px 0px 20px -10px #333;
}
.fa {
	padding: 5px;
	display: table-cell;
	font-size: 24px;
	color: lightgrey;
}
@media screen and (max-width: 767px) {
     .container {
          width: 660px;
     }
     .slider .container [class*='col-'] {
          height: 100px;
          padding: 2% 2%;
     }
	.in-slider {
		overflow-x: unset;
	}
     .container .side-text {
          position: absolute;
          left: -8%;
          top: 38%;
          transform: rotate(270deg);
          text-transform: uppercase;
     }
     .jumbotron>.container .col-sm-5 {
          position: absolute;
          top: 30%;
          left: 10%;
     }
     .mobile {
		position: absolute;
	     top: 47%;
	     right: -28%;
     }
     .mobile img {
          height: auto;
    		width: 60%;
     }
     .slider .container {
          margin-left: 2%;
          margin-right: calc((100vw - 772px) / 2);
          color: #FFF;
          display: inline-block;
     }
     .photo-1 .heart {
          margin-left: 10%;
          font-size: x-large;
     }
     .photo-2 .heart {
          margin-left: 55%;
     }
     .photo-3 .heart {
          margin-left: 10%;
          font-size: x-large;
     }
     .over {
          height: 700px;
     }
	.promo .row {
		position: relative;
	}
	.promo [class*='col-'] {
		position: absolute;
		top: 50vh
	}
	.btn {
		position: absolute;
		top: 59px;
		right: 15px;
		border-radius: 0 4px 4px 0;
	}
	.footer li {
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 5px;
	}
}

@media screen and (min-width: 768px) {
     .container {
          width: 730px;
     }
     .slider .container [class*='col-'] {
          height: 320px;
          padding: 2% 2%;
     }
     .container .side-text {
          position: absolute;
          left: -8%;
          top: 50%;
          transform: rotate(270deg);
          text-transform: uppercase;
     }
     .jumbotron>.container .col-sm-5 {
          position: absolute;
          top: 40%;
          left: 10%;
     }
     .mobile {
		position: absolute;
	     top: 26%;
	     right: -18%;
     }
     .mobile img {
          height: auto;
          width: 80%;
     }
     .slider .container {
          margin-left: 2%;
          margin-right: calc((100vw - 772px) / 2);
          color: #FFF;
          display: inline-block;
     }
     .photo-1 .heart {
          margin-left: 10%;
          font-size: x-large;
     }
     .photo-2 .heart {
          margin-left: 55%;
     }
     .photo-3 .heart {
          margin-left: 10%;
          font-size: x-large;
     }
     .over {
          height: 640px;
          overflow: hidden;
     }
	.promo .row {
		position: relative;
	}
	.promo [class*='col-'] {
		position: absolute;
		top: 50vh
	}
	.btn {
		position: absolute;
		top: 66px;
		right: 15px;
		border-radius: 0 4px 4px 0;
	}
}
@media (min-width: 992px) {
     .container {
          width: 960px;
     }
     .slider .container [class*='col-'] {
          height: 220px;
          padding: 1% 1%;
     }
     .jumbotron .container .side-text {
          position: absolute;
          left: 0;
          top: 50%;
          transform: rotate(270deg);
          text-transform: uppercase;
     }
     .jumbotron>.container [class*='col-'] {
          position: absolute;
          top: 40%;
          left: 10%;
     }
     .mobile {
		position: absolute;
	     top: 20%;
	     right: 0%;
     }
     .mobile img {
          height: auto;
          width: 85%;
     }
     .slider .container {
          margin-left: 50%;
          margin-right: calc((100vw - 1214px) / 2);
          color: #FFF;
          display: inline-block;
     }
     .photo-1 .heart {
          margin-left: 80px;
          font-size: x-large;
     }
     .photo-3 .heart {
          margin-left: 80px;
          font-size: x-large;
     }
     .over {
          height: 445px;
          overflow: hidden;
     }
	.promo .row {
		position: relative;
	}
	.promo [class*='col-'] {
		position: absolute;
		top: 50vh
	}
	.mid-section, .last-section, .footer {
		padding: 7% 0;
	}
	.btn {
		position: absolute;
		top: 66px;
		right: 15px;
		border-radius: 0 4px 4px 0;
	}
}
@media (min-width: 1200px) {
     .in-slider {
          height: 470px;
     }
     .container .side-text {
          position: absolute;
          top: 10%;
		left: -40%;
          transform: rotate(270deg);
          text-transform: uppercase;
     }
     .jumbotron>.container .col-lg-5 {
          position: absolute;
          top: 37%;
          left: 10%;
     }
     .mobile {
		position: absolute;
	     top: 15%;
	     right: 9%;
     }
     .mobile img {
          height: auto;
          width: 90%;
     }
     .photo-1 .heart {
          margin-left: 30%;
     }
     .photo-2 .heart {
          margin-left: 67%;
     }
     .photo-3 .heart {
          margin-left: 30%;
     }
     .slider .container {
          margin-left: 50%;
          margin-right: calc((100vw - 1000px) / 2);
          color: #FFF;
          display: inline-block;
     }
	.btn {
		position: absolute;
		top: 66px;
		right: 15px;
		border-radius: 0 4px 4px 0;
	}
}
